@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141318;
  --foreground: #157188;
  --foreground-accent: #8cd65d;
  --foreground-accent-2: #2fb0a3;
  --typography: #feffff;
  --typography-light: #939594;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
